{% extends 'base.html.twig' %}

{% block title %}Cal-Pal Homepage{% endblock %}

{% block headblock %} 
<script 
	src="https://code.jquery.com/jquery-2.2.4.min.js"
	integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	crossorigin="anonymous">
</script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="{{ asset('js/moment.js') }}"></script>
<link href="https://code.jquery.com/ui/jquery-ui-git.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css" media="print" rel="stylesheet">

<script>
  $(document).ready(function() {

    var eventDialog;
    var eventDialogOptions = {
      autoOpen: false,
      height: 450,
      width: 450,
      modal: true
    };
    eventDialog = $('#addEvent').dialog(eventDialogOptions);

    $('#customer').autocomplete({
      source: "{{ path('search_customers') }}",
      select: function (customer, ui) {
        $('#customerid').val(ui.item.id);
        $('#customername').val(ui.item.label);
      }
    })

    $('#provider').autocomplete({
      source: "{{ path('search_providers') }}",
      select: function (customer, ui) {
        $('#providerid').val(ui.item.id);
        $('#providername').val(ui.item.label);
      }
    })

    $('#service').autocomplete({
      source: "{{ path('search_services') }}",
      select: function (customer, ui) {
        $('#serviceid').val(ui.item.id);
        $('#servicename').val(ui.item.label);
        $('#duration').val(ui.item.duration);
      }
    })
      //calendar initialized
      calendar = $('#calendar').fullCalendar({
        // put your options and callbacks here

        defaultView: 'agendaWeek',

        minTime: '07:00:00',
        maxTime: '18:30:00',
        height: 697,

        header: {
          left: '',
          center: 'title'
        },

        buttonIcons: {
          prev: 'left-single-arrow',
          next: 'right-single-arrow'
        },

        dayClick: addDialog,

        eventClick:editDialog,

        events:
          function(start, end, timezone, callback) {
                //$('body').append('<img id="calendar-spinner" src="{{ asset("images/loaders/loader10.gif") }}"></img>');
                var url = '{{ path('calendarEvents') }}';
                $.ajax(url, {
                    type: 'GET',
                    timeout: 30*1000,
                    dataType: 'json',
                    data: {
                        start: start.unix(),
                        end: end.unix(),
                        _: Math.round(new Date().getTime() / 1000) // prevents browswer caching
                    },
                    success: function(events) {
                      callback(events);
                    }
                })
          }
      })

    function addDialog(date, allDay, jsEvent, view) {
      $('#eventDate').val(date.format('YYYY-MM-DD'));
      $('#startTime').val(date.format('HH:mm'));
      
      eventDialog.dialog('option', 'title', 'New Appointment');
      var buttons = {};
      buttons.Save = saveButtonFn;
      buttons.Cancel = cancelButtonFn;
      eventDialog.dialog('option', 'buttons', buttons);
      eventDialog.dialog('open');
    }

    function saveButtonFn() {
      var startDate = $('#eventDate').val();
      var eventStart = startDate + " " + $('#startTime').val() + ":00";
      var start = moment(eventStart, "YYYY-MM-DD HH:mm");
      var end = start.add($('#duration').val(), 'minutes');
      var eventEnd = end.format('YYYY-MM-DD HH:mm')+ ":00";
      var url = '{{path('addEvent') }}';
      $.ajax(url, {
        type: 'POST',
        timeout: 30*1000,
        dataType: 'json', 
        data: JSON.stringify({
          eventstart: eventStart,
          eventend: eventEnd,
          companyid: 1,
          customerid: $('#customerid').val(),
          providerid: $('#providerid').val(), 
          serviceid: $('#serviceid').val(), 
          comments: $('#comments').val()
        })
      })
      .done(function (response, textStatus, jqXHR) {
        calendar.fullCalendar('renderEvent', response.data);
        eventDialog.dialog('close');
      })
    }
    function cancelButtonFn() {
      eventDialog.dialog('close');
    }

    function editDialog(calEvent, jsEvent, view) {
      $('#eventDate').val(calEvent.start);
      $('#eventDate').val(calEvent.start);
      $('#customer').val(calEvent.title);
      $('#provider').val(calEvent.provider);
      $('#service').val(calEvent.service);
      $('#comments').val(calEvent.comments);
      $('#customerid').val(calEvent.customerid);
      $('#providerid').val(calEvent.providerid);
      $('#serviceid').val(calEvent.serviceid);
      eventDialog.dialog('option', 'title', 'New Appointment');
      var buttons = {};
      buttons.Edit = editButtonFn;
      buttons.Delete = deleteButtonFn;
      buttons.Cancel = cancelButtonFn;
      eventDialog.dialog('option', 'buttons', buttons);
      eventDialog.dialog('open');
    }
    function editButtonFn() {
      return true;
    }

    function deleteButtonFn() {
      return true;
    }
  })

  $(document).ready(function() {
      // page is now ready, initialize the calendar...

      $('#calendar2').fullCalendar({
        // put your options and callbacks here
        defaultView: 'listDay',

        minTime: '07:00:00',
        maxTime: '18:30:00',
        height:697,

        header: {
          center: ''

        },

        events:
          function(start, end, timezone, callback) {
                //$('body').append('<img id="calendar-spinner" src="{{ asset("images/loaders/loader10.gif") }}"></img>');
                var url = '{{ path('calendarEvents') }}';
                $.ajax(url, {
                    type: 'GET',
                    timeout: 30*1000,
                    dataType: 'json',
                    data: {
                        start: start.unix(),
                        end: end.unix(),
                        _: Math.round(new Date().getTime() / 1000) // prevents browswer caching
                    },
                    success: function(events) {
                      callback(events);
                    }
                })
          }
      })
  })

</script> 
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div id="addEvent"> 
  <label for=eventDate> Start Date </label>
  <input id="eventDate" name="eventDate" type="date"> <br> <br>
  <label for=startTime> Start Time </label>
  <input id="startTime" name="startTime" type="time"> <br> <br>
  <label for=customer> Customer </label>
  <input id="customer" name="customer" size="20"> <br> <br>
  <label for=provider> Provider </label>
  <input id="provider" name="provider"> <br> <br>
  <label for=service> Service </label>
  <input id="service" name="service"> <br> <br>
  <label for=comments> Comments (optional) </label>
  <input id="comments" name="comments">
  <input id="duration" style="display:none">
  <input id="endTime" style="display:none">
  <input id="customerid" name="customerid" type="hidden">
  <input id="customername" name="customername" type="hidden">
  <input id="providerid" name="providerid" type="hidden">
  <input id="providername" name="providername" type="hidden">
  <input id="serviceid" name="serviceid" type="hidden">
  <input id="servicename" name="servicename" type="hidden">
</div>

 <div class="column1">
    <h2>Appointment Calendar</h2>
        <div id='calendar'></div>
            <p class="cal"></p>
        </div>
    <div class ="column2">
      <div id='calendar2'></div>
          <p class="cal"></p>
    </div>
{% endblock %}